<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [zoom]="zoomVal" [latitude]="lat" [longitude]="lng">
  
  <agm-polyline [strokeColor]="'#F6C377'">
    <agm-polyline-point *ngFor="let point of polyline; let i = index" [latitude]="point?.latitude" [longitude]="point?.longitude">
    </agm-polyline-point>
  </agm-polyline>
 
  <agm-marker [latitude]="lastMarker?.latitude" [longitude]="lastMarker?.longitude" [title]="iconTitle" [iconUrl]="iconDevice">
  </agm-marker>
</agm-map>
